<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>192045454005-nu614fdigjhshqp1v5c7crufs43h5oeb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.192045454005-nu614fdigjhshqp1v5c7crufs43h5oeb</string>
	<key>API_KEY</key>
	<string>AIzaSyCFCARut1-zSB5d58jRRbSn75B0YKPeDHw</string>
	<key>GCM_SENDER_ID</key>
	<string>192045454005</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.beardedgentleman.anotame.ArretoApp</string>
	<key>PROJECT_ID</key>
	<string>arretoapp</string>
	<key>STORAGE_BUCKET</key>
	<string>arretoapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:192045454005:ios:b388990e1e27906e</string>
	<key>DATABASE_URL</key>
	<string>https://arretoapp.firebaseio.com</string>
</dict>
</plist>